body{
	margin: 0;
	padding: 0;
}
footer{
	background: #112659;
	margin: 0;
	padding: 1em;
}
header{
	box-shadow: 0 0 10px black;
	left: 5%;
	position: absolute;
	top: 10px;
	width: 90%;
	z-index: 5;
}
nav{
	/*background: #337ab7;*/
	background: #112659;
	border-bottom: 4px solid #005db9 !important;
	display: block;
	text-transform: uppercase;
	width: 100%;
}
	nav li{
		padding: 0 !important;
	}
	.active .botonMenu{
		font-weight: 800;
	}
	.botonMenu{
		color: white;
		line-height: 20px !important;
		margin: 0;
		padding: 10px 0 10px 18px !important;
	}
	.botonMenu:hover{
		background: #eaeaea;
	}
	.botonMenu span{
		border-right: 1px solid #eaeaea;
		padding: 0 18px 0 0  !important;		
	}
	.botonMenu:hover .botonMenu span{
		border-right: 1px solid transparent;
	}
section{
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative;
	width: 90%;
	z-index: 6;
}
.adjunto{
	border: 2px solid transparent;
	border-radius: 2px;
	color: white;
	display: block;
	font-weight: 600;
	margin: 0 auto;
	padding: .5em 1.5em;
	text-transform: uppercase;
	width: 100%;
}
	.adjunto:hover{
		color: white;
	}
	.adjunto img{
		margin-left: 1em;
		width: 25px;
	}
.alignMidle{
	vertical-align: middle;
}
/*.carousel-indicators{
	display: none;
}*/
.azulClaro{
	color: #005db9;
}
.cabecera{
	height: 450px;
	margin: 0;
	position: relative;
}
.capitular{
	color: #112659;
	font-family: 'Cabin', sans-serifF;
	font-size: 200%;
	font-weight: 600;
	line-height: 16px;
	margin-right: 2px;
}
.carrusel{
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
}
.contacto,
.mutual{
	color: white;
	display: inline-block;
	padding-left: .8em;
	padding-right: 1.5em;  
	vertical-align: top;
}
	.mutual{
		border-right: 1px solid #8098c1;
	}
	.contacto p, .mutual p{
		font-size: 100%;
		margin: 0 !important;
	}
	.destacadoFooter{
		color: #8098c1;
		font-weight: 600;
		text-transform: uppercase;
	}
.container{
	margin-top: 1em;
	max-width: 100% !important;
	padding: 0;
	position: relative;
	width: 100%;
}
.contenedorBoton{
	margin-top: 1em;
	text-align: center;
}
	.contenedorBoton button{
		background: white;
		border: none;
		color: #112659;
		font-size: 12px;
		text-transform: uppercase;
	}
	.contenedorBoton button:hover{
		background: transparent;
		color: #2a6496;
		text-decoration: underline;
	}
.descargas{
	/*background: rgba(130,150,195,.1);*/
	background: #337ab7;
	border-radius: 0 0 5px 5px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	transition:.2s;
	/*width: 60%*/
	width: 719px;
}
	.descargas:hover{
		background: #1EBEB4;
	}

.enLinea{
	display: inline-block;
}

.fotoLeft,
.fotoRight{
	background: transparent;
	font-size: 30px;
	height: 30px !important;
	position: absolute;
	top: 50%;
	width: 30px !important;
}
.fotoLeft{
	left: 10%;
	text-align: left;
}
.fotoRight{
	text-align: left;
	right: 10%;
}
.youtube{
	margin-left: .5em;
	margin-top: -3px;
	width: 20px;
}
.imagenCarrusel{
	background-size: cover;
	height: 450px;
}
.jumbotron{
	/*background: rgba(130,150,195, .1);*/
	
	/*border-bottom: 2px solid #005db9;*/
	border-radius: 5px 5px 0 0 !important;
	/*border-top: 2px solid #005db9;*/
	/*box-shadow: 0 0 5px #005db9;*/
	margin: -50px auto 0 auto;
	padding: 0 !important;
	/*width: 60%;*/
	width: 719px;
	z-index: 5;
}
	.jumbotron h1,
	.tab-content h2,
	.resalta{
		color: #112659;
		font-size: 20px;
		font-weight: 600;
		margin:0;
		text-align: left;
	}
	.jumbotron p{
		color: #666;
		font-size: 16px;
		text-align: justify;
	}
	.jumbotron ul{
		margin: 2em 0 0 0;
		padding: 0;
		text-align: left;
	}
	.jumbotron li{
		margin: .5em 0;
	}
	.jumbotron .descripcion{
		font-family: 'Cabin', sans-serif;
		margin-left: auto;
		margin-right: auto;
		padding: 3em 0 2em;
		width: 80%;
	}

.letraChica{
	font-size: 10px !important;
	margin-top: 2em;
}
.listaGris{
	margin-top: 1em;
}
.listaGris li{
	color: #666 !important;
}
.modal-header{
	border:none;
}
.mutualheader{
	background: rgba(255,255,255, .8) !important;
	background: white;
	display: block;
	height: 90px;
	position: relative;
}
	.contenedorLogo{
		padding: 15px 10px;
		position: absolute;
		right: 1em;
	}
	.contenedorLogo img{
		width: 125px;
	}
.nav{
	background: #112659;
}
	.nav li{
		border-radius: 0;
	}
	.nav li .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav li a .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav a{
		color: white;
	}
	.nav a:hover{
		background: #005db9 !important;
		border-radius: 0 !important;
	}
.navMobile{
	left: 0;
	margin: -17px 0 0 0;
	position: absolute;
	top: 50%;
	z-index: 5;
}
	.icon-bar{
		background: rgba(1,172,246, 1);
	}
.rojitoColor{
	color: #B23D23;
}
.rojitoBackground{
	background: #B23D23;
}
.tab-content{
	background: #eee;
	border-radius: 5px !important;
	margin-left: auto;
	margin-right: auto;
	padding: 0 !important;
	/*width: 60%;*/
	width:719px;
	z-index: 5
;}
.tab-content ul{
	margin-left: 1em;
	padding: 0;
}
	.tab-content li{
		color: #112659;
		font-weight: 600;
	}
	.tab-content p{
		text-align: justify;
	}
.tabsBottom{
	margin: 0 auto;
	/*width: 65%;*/
	width: 719px;
}
	.nav-tabs.nav-justified > li > a{
		font-size: 13px !important;
		border: none !important;
		border-radius: 0 !important;
	}

	.tabsBottom li.active > a{
		background:  #005db9 !important;
		border: none !important;
		color: white !important;
	}
.textoEntrada{
	background: rgba(130,150,195, .5) !important;
	background: #112659;
	bottom: initial !important;
	max-width: 600px !important;
	padding: 1em;
	top: 60%;
}
	.textoEntrada h2{
		color: white;
		font-size: 1.5em;
		font-weight: 600;
		margin: 0;
		text-align: left;
		/*text-shadow: 0 0 10px #112659;*/
	}
	.textoEntrada span{
		color: #1EBEB4;
		font-size: 120%;
	}
.contentTab{
	margin: 0 auto;
	padding: 3em 0 2em;
	width: 80%;
}
	.contentTab ul{
		margin-top: 1em;
	}
.uppercase{
	text-transform: uppercase;
}


@media screen and (max-width: 800px){
	.botonMenu span{
		border-right: 0;		
	}
	.jumbotron, .descargas, .tabsBottom, .tab-content{
		width: 100%;
	}
	.fotosFooter{
		display: block;
		float: none !important;
		margin: 1.5em auto .8em;
		padding-left: .8em;
		text-align: left;
		width: 100%;
	}
}
@media screen and (max-width: 450px){
	.textoEntrada h2{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 350px){
	section{
		width: 100%;
	}
}