body{
	margin: 0;
	padding: 0;
}
footer{
	background: #112659;
	margin: 0;
	padding: 1em;
}
header{
	left: 5%;
	position: absolute;
	top: 10px;
	width: 90%;
	z-index: 5;
}
nav{
	/*background: #337ab7;*/
	background: #112659;
	border-bottom: 4px solid #005db9 !important;
	display: block;
	text-transform: uppercase;
	width: 100%;
}
	nav li{
		padding: 0 !important;
	}
	.active .botonMenu{
		font-weight: 800;
	}
	.botonMenu{
		color: white;
		line-height: 20px !important;
		margin: 0;
		padding: 10px 0 10px 18px !important;
	}
	.botonMenu:hover{
		background: #eaeaea;
	}
	.botonMenu span{
		border-right: 1px solid #eaeaea;
		padding: 0 18px 0 0  !important;		
	}
	.botonMenu:hover .botonMenu span{
		border-right: 1px solid transparent;
	}
section{
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative;
	width: 90%;
	z-index: 6;
}
.adjunto{
	border: 2px solid transparent;
	border-radius: 2px;
	color: #005db9;
	display: block;
	margin: 0 auto;
	padding: .5em 1.5em;
	width: 100%;
}
	.adjunto:hover{
		border: 2px solid #005db9;
	}
	.adjunto img{
		margin-left: 1em;
	}
.alignMidle{
	vertical-align: middle;
}
/*.carousel-indicators{
	display: none;
}*/
.azulClaro{
	color: #005db9;
}
.cabecera{
	height: 450px;
	margin: 0;
	position: relative;
}
.capitular{
	font-family: 'Cabin', sans-serif;
	font-size: 200%;
	font-weight: 600;
	line-height: 16px;
	margin-right: 2px;
}
.carrusel{
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
}
.contacto,
.mutual{
	color: white;
	display: inline-block;
	padding-left: .8em;
	padding-right: 1.5em;  
	vertical-align: top;
}
	.mutual{
		border-right: 1px solid #8098c1;
	}
	.contacto p, .mutual p{
		font-size: 100%;
		margin: 0 !important;
	}
	.destacadoFooter{
		color: #8098c1;
		font-weight: 600;
		text-transform: uppercase;
	}
.container{
	margin-top: 1em;
	max-width: 100% !important;
	padding: 0;
	position: relative;
	width: 100%;
}
.descargas{
	background: rgba(130,150,195, .1);
	border-radius: 5px;
	margin: 1em auto;
	padding: 2em 1em;
	text-align: center;
	width: 60%
}

.enLinea{
	display: inline-block;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right{
	border: 4px solid white;
	border-radius: 50%;
	height: 45px !important;
	width: 45px !important;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before{
	font-size: 30px;
	line-height: 45px;
}
.imagenCarrusel{
	background-size: cover;
	background-position: center bottom;
	height: 450px;
}
.jumbotron{
	/*background: rgba(130,150,195, .1);*/
	
	/*border-bottom: 2px solid #005db9;*/
	border-radius: 5px !important;
	/*border-top: 2px solid #005db9;*/
	/*box-shadow: 0 0 5px #005db9;*/
	margin: -50px auto 0 auto;
	padding: 0 !important;
	width: 60%;
	z-index: 5;
}
	.jumbotron h1,
	.tab-content h2{
		color: #112659;
		font-size: 20px;
		font-weight: 600;
		margin:0;
		text-align: left;
	}
	.jumbotron p{
		color: #666;
		font-size: 16px;
		text-align: justify;
	}
	.jumbotron ul{
		margin: 2em 0 0 0;
		padding: 0;
		text-align: left;
	}
	.jumbotron li{
		margin: .5em 0;
	}
	.jumbotron .descripcion{
		font-family: 'Cabin', sans-serif;
		margin-left: auto;
		margin-right: auto;
		padding: 3em 0 2em;
		width: 80%;
	}

.letraChica{
	font-size: 10px !important;
	margin-top: 2em;
}
.listaGris{
	margin-top: 1em;
}
.listaGris li{
	color: #666 !important;
}
.mutualheader{
	background: rgba(255,255,255, .8);
	display: block;
	height: 90px;
	position: relative;
}
	.contenedorLogo{
		padding: 15px 10px;
		position: absolute;
		right: 0;
	}
	.contenedorLogo img{
		width: 125px;
	}
.nav{
	background: #112659;
}
	.nav li{
		border-radius: 0;
	}
	.nav li .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav li a .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav a{
		color: white;
	}
	.nav a:hover{
		background: #005db9 !important;
		border: 1px solid transparent !important;
		border-radius: 0 !important;
	}
.navMobile{
	left: 0;
	margin: -17px 0 0 0;
	position: absolute;
	top: 50%;
	z-index: 5;
}
	.icon-bar{
		background: rgba(1,172,246, 1);
	}
.rojitoColor{
	color: #B23D23;
}
.rojitoBackground{
	background: #B23D23;
}
.tab-content{
	background: #eee;
	border-radius: 5px !important;
	margin-left: auto;
	margin-right: auto;
	padding: 0 !important;
	width: 60%;
	z-index: 5
;}
.tab-content ul{
	margin-left: 1em;
	padding: 0;
}
	.tab-content li{
		color: #112659;
		font-weight: 100;
	}
.tabsBottom{
	margin: 0 auto;
	width: 60%;
}
	.nav-tabs.nav-justified > li > a{
		font-size: 13px !important;
		border: none !important;
		border-radius: 0 !important;
	}
	.tabsBottom li.active > a{
		background:  #005db9 !important;
		border: none !important;
		color: white !important;
	}
.contentTab{
	margin: 0 auto;
	padding: 3em 0 2em;
	width: 80%;
}
.uppercase{
	text-transform: uppercase;
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 800px){
	.jumbotron, .descargas, .tabsBottom, .tab-content{
		width: 100%;
	}
	.fotosFooter{
		display: block;
		float: none !important;
		margin: 1.5em auto .8em;
		padding-left: .8em;
		text-align: left;
		width: 100%;
	}
}

@media screen and (max-width: 350px){
	section{
		width: 100%;
	}
}