@font-face {
    font-family: 'futura_ltbook';
    src: url('../fonts/futuralt-book-webfont.eot');
    src: url('../fonts/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-book-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-book-webfont.woff') format('woff'),
         url('../fonts/futuralt-book-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_ltbookoblique';
    src: url('../fonts/futuralt-bookoblique-webfont.eot');
    src: url('../fonts/futuralt-bookoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-bookoblique-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-bookoblique-webfont.woff') format('woff'),
         url('../fonts/futuralt-bookoblique-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-bookoblique-webfont.svg#futura_ltbookoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	/* font-size: 16px; */
	margin: 0;
	padding: 0;
}
body, html{
	height:100%;
}
footer{
	background: #f2f2f2;
	border-top: 1px solid #ddd;
	margin: 1em 0 0 0;
	padding: 3em 2em;
}
header{
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	/* left: 5%; */
	margin: 0 auto;
	position: relative;
	top: 10px;
	width: 90%;
	max-width: 1200px;
	z-index: 15;
}
nav{
	/*background: #337ab7;*/
	/*background: #112659; */
	/* border-bottom: 4px solid #005db9 !important; */
	display: block;
	text-transform: uppercase;
	width: 100%;
}
	nav li{
		/* background: #eee; */
		padding: 0 !important;
	}
	.active .botonMenu{
		border-bottom: 4px solid #428bca;
	}
	.active .botonMenu span{
		color: #f8b302 !important;
	}
	.botonMenu{
		font-family: "futura_ltbookoblique";
		line-height: 20px !important;
		margin: 0;
		padding: 10px 0 10px 18px !important;
		transition: .3s;
	}
	/* .botonMenu:hover{
		background: #eaeaea;
	} */
	.botonMenu span{
		/* border-right: 1px solid #eaeaea; */
		color: #428bca;
		font-weight: 800;
		padding: 0 18px 0 0  !important;		
	}
	.botonMenu:hover > span{
		color: white !important;
	}
section{
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative;
	width: 90%;
	z-index: 4;
}
.adjunto{
	border: 2px solid transparent;
	border-radius: 2px;
	color: white;
	display: block;
	font-weight: 600;
	margin: 0 auto;
	padding: .5em 1.5em;
	width: 100%;
}
	.adjunto:hover{
		color: white;
	}
	.adjunto img{
		margin-left: 1em;
		width: 25px;
	}
.alignMidle{
	vertical-align: middle;
}
/*.carousel-indicators{
	display: none;
}*/
.azulClaro{
	color: #005db9;
}
.azulOscuro{
	color:#112659 !important;
}
.bajas{
	text-transform: lowercase !important;
}
.bold{
	font-weight: 600;
}
.cabecera{
	height: 100%;
	max-height: 700px;
	margin: 0;
	position: relative;
}
.capitular{
	color: #112659;
	font-family: 'Cabin', sans-serifF;
	font-size: 200%;
	font-weight: 600;
	line-height: 16px;
	margin-right: 2px;
}
.capitulizar{
	text-transform: capitalize !important;
}
.carousel-inner{
	height: 100%;
	max-height: 700px;
}
.carrusel{
	border-bottom: 8px solid #337ab7;
	height: 100%;
	max-height: 700px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
}
/* .carousel-caption{
	text-shadow: none !important;
} */

.carousel-control{
	z-index: 10;
}

.centrado{
	text-align: center;
}
.circulares{
	border: 6px solid rgba(0, 157 , 224, .3);
	border-radius: 50%;
}
/* .contacto,
.mutual{
	color: #666;
	display: inline-block;
	padding-left: .8em;
	padding-right: 1.5em;  
	vertical-align: top;
}
	.mutual{
		border-right: 1px solid #8098c1;
	}
	.contacto p, .mutual p{
		font-size: 100%;
		margin: 0 !important;
	}
	.destacadoFooter{
		color: #337AB7;
		font-weight: 600;
		text-transform: uppercase;
	} */
.container{
	/* margin-top: 1em; */
	max-width: 100% !important;
	padding: 0;
	position: relative;
	width: 100%;
}
	.contenedor .row{
		/* border: 1px solid #ddd; */
		box-sizing: border-box;
		margin: 0 0 1em 0;
		/* padding: 0 2em; */
		width: 60%;		
	}
		.contenedor .descripcion{
			margin-left: auto;
			margin-right: auto;
			margin-top: 1em;
			width: 100%;
		}
			.descripcion figure{
				margin: 0;
				padding: 0;
				text-align: center;
			}
			.descripcion p{
				font-family: 'futura_ltbook';
			}
		.contImg{
			box-sizing: border-box;
			margin: 0;
		}
			.contImg img{
				width: 49%;
			}
			.contImg .iram{
				width: 200px;
			}

.contenedor {
	border-radius: 0;
	margin: 2em auto 0;
	padding: 0 !important;
	position: relative;
	text-align: center;
	/* width: 719px; */
	width: 80%;
	max-width: 950px;
	z-index: 5;
}
	.contenedor h1,
	.tab-content h2,
	.resalta{
		color: #112659;
		font-size: 18px;
		font-weight: 600;
		margin:0;
		text-align: left;
		text-transform: uppercase;
	}
	.contenedor p{
		color: #666;
		font-size: 16px;
		text-align: justify;
	}
	.contenedor ul{
		margin: 2em 0 0 0;
		padding: 0;
		text-align: left;
	}
	.contenedor li{
		margin: .5em 0;
	}

.contenedorBoton{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	width: 60%;
}
	.contenedorBoton button{
		background: white;
		border: none;
		color: #112659;
		font-size: 12px;
		text-transform: uppercase;
	}
	.contenedorBoton button:hover{
		background: transparent;
		color: #2a6496;
		text-decoration: underline;
	}

.contFooter{
	margin: 0;
	padding: 0;
	text-align: center;
}
	.contFooter li{
		display: inline-block;
		padding: 10px;
		text-align: left;
		vertical-align: top;
		width: 30%;
		max-width: 350px;
		min-width: 220px;
	}
	.contFooter h3{
		font-family: 'futura_ltbook';
		font-size: 18px;
		font-weight: 600;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	.contFooter p{
		font-family: 'futura_ltbook';
		font-size: 16px;
		margin: 0;
	}
	.contFooter p a{
		color: #262F38;
		text-decoration: underline;
	}
	.imgFooter{
		text-align: center;
	}
	.imgFooter a{
		border-right: 2px solid #428bca;
		display: block;
		text-align: center;
		width: 90%;
	}
	.imgFooter .enLinea{
		margin-top: 10px;
		width: 160px;
	}
	.imgFooter .enLinea img{
		width: 100%;
	}

.contentTab{
	margin: 0 auto;
	padding: 3em 0 2em;
	width: 80%;
}
	.contentTab h2{
		margin-bottom: 1em;
	}

.descargas{
	background: rgba(51,122,183, 1);
	/* background: #337ab7; *
	/* border-radius: 0 0 5px 5px; */
	margin: 0;
	padding: .2em 1em;
	text-align: center;
	transition:.2s;
	width: 60%;
}
	.descargas:hover{
		background: #f8b302;
	}
.descripcion ul{
	text-align: justify !important;
}
.enLinea{
	display: inline-block;
}

.fondoAzul{
	background: #337ab7;
	box-sizing: border-box;
	margin: 0;
	padding: .5em 1em;
	text-align: left;
}

.fondoGris{
	background: #fbfbfb;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 16px 2em;
}

.fondoInt{
	/* background: #337ab7; */
	background: #fbfbfb;
	border-bottom: 2px solid #428bca;
	border-top: 4px solid #428bca;
	box-sizing: border-box;
	margin: 2em auto;
	padding: 2em 0;
}

.fondoIntNoBorderTop{
	background: #fbfbfb;
	border-bottom: 2px solid #428bca;
	border-top: 2px solid #f2f2f2;
	box-sizing: border-box;
	margin: 2em auto;
	padding: 2em 0;
}

.fotoLeft,
.fotoRight{
	background: transparent;
	border: 5px solid rgba(255,255,255, .7);
	border-radius: 50%;
	font-size: 30px;
	height: 45px !important;
	padding: 10px;
	position: absolute;
	top: 50%;
	width: 45px !important;
}
.fotoLeft{
	left: 10%;
	text-align: left;
}
.fotoRight{
	text-align: left;
	right: 10%;
}
/* .fotosFooter p{
	color: white;
	display: block;
	margin-top: 10px;
} */

.fuenteMediana{
	font-size: 14px !important;
}

.fuenteNormal{
	font-size: 1em !important;
}

.futuraBold{
	font-family: "futura_ltbook";
}
.futuraItalic{
	font-family: "futura_ltbookoblique";
}

/* .gm-style-iw{
	background: rgba(51,122,183, 1);
} */

.gm-style-iw h3{
	color: rgba(51,122,183, 1);
	display: block;
	font-family: 'futura_ltbook';
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.imagenCarrusel{
	background-size: cover;
	height: 100%;
	max-height: 700px;
	width: 100%;
}

.imagenes{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	max-width: 950px;
}

.imagenes .iram{
	margin: 0 10px 0 0;
	width: 30%;
	max-width: 170px;
}

.imagenes .circulares{
	margin: 0 10px 0 0;
	width: 25%;
	max-width: 150px;
}

.inlineBlock{
	display: inline-block;
}

.iram{
	width: 250px;
}

.iramContainer{
	display: inline-block;
	vertical-align: middle;
	width: 39%;
}

.italic{
	font-style: italic;
}

.item{
	height: 100%;
	max-height: 700px;
}

.justificado{
	text-align: justify !important;
}
.letraChica{
	font-size: 10px !important;
	margin-top: 2em;
}
.linksTo, .imgAside{
	margin-left: 6%;
	margin-top: 2em;
	/* padding: 1em 3em; */
	width: 33%;
}
	.linksTo ul{
		margin: 0 !important;
		padding: 0;
	}
	.linksTo li{
		background: #f2f2f2;
		border: 1px solid #ddd;
		margin: 0 0 3px 0;
	}
	.linksTo li:hover > a{
		background: #f8b302 !important;
	}
	.imgAside img{
		min-width: 250px;
		width: 100%;
	}
.listaGris{
	margin-top: 1em;
}
.listaGris li{
	color: #666 !important;
}

.mapa iframe{
	height: 400px !important;
	width: 100% !important;
}

.marginList{
	font-size: 12px;
	margin-right: 1em;
}
.marginTopZero{ 
	margin-top: 0 !important;
}

.middle{
	vertical-align: middle;
}

.modal-header{
	border:none;
}

.mutualheader{
	background: rgba(255,255,255, .9) !important;
	background: white; 
	border-bottom: 4px solid #005db9 !important;
	display: block;
	height: 90px;
	padding: 17px 0;
	position: relative;
}
	.contenedorLogo{
		/* padding: 15px 10px; */
		position: absolute;
		right: 1em;
	}
	.contenedorLogo img{
		width: 125px;
	}
/* .nav{
	background: #112659;
} */
	.nav li{
		border-radius: 0;
	}
	.nav li .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav li a .active{
		background: #005db9 !important;
		border-radius: 0 !important;
		border: none !important;
	}
	.nav a{
		color: white;
	}
	.nav a:hover{
		background: #005db9 !important;
		border-radius: 0 !important;
	}

.naranjo{
	color: #f8b302;
}

.navMobile{
	left: 0;
	margin: -17px 0 0 0;
	position: absolute;
	top: 50%;
	z-index: 5;
}
	.icon-bar{
		background: rgba(1,172,246, 1);
	}

.openSans{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666 !important;
	font-weight: normal !important;
}

.openSansAzulito{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.otraSeccion{
	background: #337ab7;
	height: 300px;
	margin-top: 1em;
}

	.otraSeccion .seccionInt{
		background-attachment: fixed;
		background-image: url('../images/tecnologiaFondo.jpg');
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    box-sizing: border-box;
	    display: block;
		height: 100%;
		margin: 0 auto;
		padding: 4em 0;
	    width: 100%;
	}
	.otraSeccion .seccionInt2{
		background-attachment: fixed;
		background-image: url('../images/seguroPapaFondo.jpg');
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    box-sizing: border-box;
	    display: block;
		height: 100%;
		margin: 0 auto;
		padding: 4em 0;
	    width: 100%;
	}
		.seccionInt2 .imagenes,
		.seccionInt3 .imagenes
		{
			background: rgba(255, 255,255, .5);
			border: none;
		}
		.seccionInt2 .imagenes .circulares
		.seccionInt3 .imagenes .circulares
		{
			margin: 0 0 0 10px;
		}
	.otraSeccion .seccionInt3{
		background-attachment: fixed;
		background-image: url('../images/iramFondo.jpg');
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    box-sizing: border-box;
	    display: block;
		height: 100%;
		margin: 0 auto;
		padding: 4em 0;
	    width: 100%;
	}

.pagos{
	/*background: aliceblue;*/
	margin: 2em auto 1em;
	padding: 1em;
	text-align: left;
	width: 100%;
}
	.pagos figure{
		border-bottom: 1px solid #999;
		margin: 0;
		padding: 0;
	}
	.pagos figcaption{
		font-size: 10px;
		margin-left: 20px;
		text-transform: uppercase;
		width: 55%;
	}
	.pagos figcaption, .pagos img{
		display: inline-block;
		vertical-align: bottom;
	}
	.pagos img{
		width: 200px;
	}
.pocoMargen{
	margin-top:1em;
}
.rojitoColor{
	color: #B23D23;
}
.rojitoBackground{
	background: #B23D23;
}
.sinMargen{
	margin: 0 !important;
}

.sinMargenTop{
	margin-top: 0 !important;
}

.sinPuntos{
	list-style: none;
}
	.sinPuntos li{
		font-family: 'futura_ltbook';
		margin-left: 0 !important;
	}

.tab-content{
	/* background: #eee; */
	border-radius: 5px !important;
	margin:0;
	padding: 0 !important;
	width: 60%;
	max-width:719px;
	z-index: 5
;}
.tab-content ul{
	padding: 0;
}
	.tab-content li{
		color: #112659;
		/* font-weight: 600; */
	}
	.tab-content p{
		text-align: justify;
	}
.tab-content .listaClara li{
	color: #666;
	font-weight: normal;
	margin-bottom: .5em;
	margin-left: 1em;
	text-align: justify;
}
/* .tabsBottom{
	margin: 0 auto;
	width: 65%;
	width: 719px;
} */
	.nav-tabs.nav-justified{
		margin: 0;
		padding: 0;
	}
	.nav-tabs.nav-justified > li > a{
		font-size: 13px !important;
		border: none !important;
		border-radius: 0 !important;
	}

	.tabsBottom li.active > a{
		/* background:  #005db9 !important; */
		border: none !important;
		color: white !important;
	}

table{
	text-align: left;
}

.tabDesktop{
	display: inline-block;
}

.tabMobile{
	display: none;
}

.tecnologia{
	width: 200px;
}

.textoEntrada{
	background: rgba(153, 153, 153, .5) !important;
	background: #112659;
	border-radius: 5px;
	bottom: initial !important;
	font-family: "futura_ltbook";
	margin-right: -300px;
	max-width: 600px !important;
	padding: 1em;
	top: 40%;
	right: 50%;
}
	.textoEntrada h2{
		color: white;
		font-size: 3em;
		font-weight: 600;
		margin: 0;
		text-align: left;
		/*text-shadow: 0 0 10px #112659;*/
	}
	.textoEntrada .amarillo{
		color: #f8b302;	
	}
	.textoEntrada .fontChico{
		font-size: 80%;
	}
	.textoEntrada .fontGrande{
		font-size: 150%;
		/*text-shadow: 0 0 2px white;*/
		text-transform: uppercase;
	}
	.gris{
		color: #262f38 !important;	
	}

.textoFoto{
	max-width: 300px;
}

.titulo{
	border-bottom: 2px solid #428bca; 
	color: #428bca;
	font-size: 2em;
	text-align: left;
	margin: 0;
}

.top{
	vertical-align: top;
}
.uppercase{
	text-transform: uppercase;
}
.ventajas, .listaIntena{
	margin: 0 0 0 1em !important;
}
	.listaIntena li{
		font-family: "futura_ltbookoblique"
	}
	.ventajas li{
		font-family: "futura_ltbook";
	}
.white{
	color:white;
}
.youtube{
	margin-left: .5em;
	margin-top: -3px;
	width: 20px;
}


@media screen and (max-width: 800px){
	.abajoDelMenu{
		margin-top: 2em !important;
	}
	.botonMenu span{
		border-right: 0;		
	}
	.contenedor{
		margin: 0;
		padding: 0 1em !important;
	}
	.contenedor .row{
		width: 100%;
	}
	.contenedor, .contenedorBoton, .descargas, .tabsBottom, .tab-content, .pagos{
		width: 100%;
	}

	.linksTo {
		margin: 0 !important;
		width: 100%;
	}
	.imgAside{
		margin-left: auto;
		margin-right: auto;
		width: 250px;
	}
/* 	.menuArriba{
	left: 0;
	margin: 0;
	position: absolute;
	top: -55px;
} */
	.pagos figure{
		border-bottom: 0;
		text-align: justify;
	}
	.pagos figcaption{
		border-top: 1px solid #999;
		margin-left: 0;
		margin-top: 1em;
		padding-top: 5px;
		width: 100%;
	}
	
	.tabDesktop{
		display: none;
	}
	
	.tabMobile{
		display: block;
	}
}
@media screen and (max-width: 767px){
	.navbar-collapse{
		background: #112659;
		margin-top: 70px;
	}
}
@media screen and (max-width: 650px){
	.textoEntrada{
		margin: 0 !important;
		width: 80%;
	}
}

@media screen and (max-width: 600px){
	.linksTo{
		margin: 0 !important;
	}
	.row, .linksTo{
		width: 100% !important;
	}
}

@media screen and (max-width: 450px){
	.textoEntrada h2{
		font-size: 1.2em;
	}
	.iram{
		width: 150px;
	}
}
@media screen and (max-width: 350px){
	section{
		width: 100%;
	}
}